@model chosen.Models.Customerservice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customerservice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerserviceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
