@model chosen.ViewModel.PaymentViewModel

@{
    ViewData["Title"] = "Payment Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Checkout"]</h2>

<div class="card" id="app">
<div class="card-body" id="paymentForm">
    <div class="row mb-2">
        <div class="col-md-6" style="display: none;">
            <label class="form-label" style="display: none;">商店代號</label>
            <input type="text" class="form-control" id="MerchantID" v-model="addForm.MerchantID">
        </div>
        <div class="col-md-6">
            <label class="form-label">訂單編號</label>
            <input type="text" class="form-control" id="MerchantOrderNo" v-model="addForm.MerchantOrderNo" readonly>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label class="form-label">商品說明</label>
            <label type="text" class="form-control" id="ItemDesc" v-model="addForm.ItemDesc" readonly>儲值點數</label>
        </div>
        <div class="col-md-6">
            <label class="form-label">商品金額</label>
            <input type="text" class="form-control" id="Amt" v-model="addForm.Amt">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label class="form-label">繳費有效期限</label>
            <input type="text" class="form-control" id="ExpireDate" v-model="addForm.ExpireDate" readonly>
        </div>
        <div class="col-md-6">
            <label class="form-label">付款人電子信箱</label>
            <input type="text" class="form-control" id="Email" v-model="addForm.Email">
        </div>
    </div>
    <div class="row mb-2" style="display: none;">
        <div class="col-md-6">
            <label class="form-label" style="display: none;">支付完成返回網址</label>
            <input type="text" class="form-control" id="ReturnURL" v-model="addForm.ReturnURL" >
        </div>
        <div class="col-md-6">
            <label class="form-label" style="display: none;">商店取號網址</label>
            <input type="text" class="form-control" id="CustomerURL" v-model="addForm.CustomerURL">
        </div>
    </div>
    <div class="row mb-2" style="display: none;">
        <div class="col-md-6">
            <label class="form-label" style="display: none;">支付通知網址</label>
            <input type="text" class="form-control" id="NotifyURL" v-model="addForm.NotifyURL">
        </div>
        <div class="col-md-6">
            <label class="form-label" style="display: none;">返回商店網址</label>
            <input type="text" class="form-control" id="ClientBackURL" v-model="addForm.ClientBackURL" >
        </div>
        <div class="col-md-6">
            <label class="form-label">信用卡測試卡號</label>
            <input type="text" class="form-control" id="testcardnum" value="4000-2211-1111-1111" />
        </div>
    </div>
    <button type="button" class="btn btn-primary" v-on:click="SendToNewebPay('VACC')">ATM</button>
    <button type="button" class="btn btn-primary" v-on:click="SendToNewebPay('CREDIT')">信用卡</button>
</div>
</div>


@section scripts {
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    // 表單資料
                    addForm: {
                        MerchantID: '@ViewData["MerchantID"]' //商品代號
                        , MerchantOrderNo: '@ViewData["MerchantOrderNo"]'
                        , ItemDesc: 'yoyodiy'
                        , Amt: '666'
                        , ExpireDate: '@ViewData["ExpireDate"]'
                        , ReturnURL: '@ViewData["ReturnURL"]'
                        , CustomerURL: '@ViewData["CustomerURL"]'
                        , NotifyURL: '@ViewData["NotifyURL"]'
                        , ClientBackURL: '@ViewData["ClientBackURL"]'
                        , Email: 'xxxx@gmail.com'
                    }
                }
            }
            , methods: {
                // 傳送至藍新金流
                SendToNewebPay(ChannelID) {
                    var self = this;

                    // 組合表單資料
                    var postData = {};
                    postData['ChannelID'] = ChannelID;
                    postData['MerchantID'] = self.addForm.MerchantID;
                    postData['MerchantOrderNo'] = self.addForm.MerchantOrderNo;
                    postData['ItemDesc'] = self.addForm.ItemDesc;
                    postData['Amt'] = self.addForm.Amt;
                    postData['ExpireDate'] = self.addForm.ExpireDate;
                    postData['ReturnURL'] = self.addForm.ReturnURL;
                    postData['CustomerURL'] = self.addForm.CustomerURL;
                    postData['NotifyURL'] = self.addForm.NotifyURL;
                    postData['ClientBackURL'] = self.addForm.ClientBackURL;
                    postData['Email'] = self.addForm.Email;


                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url: '@Url.Content("~/Payment/SendToNewebPay")',
                        method: 'POST',
                        dataType: 'json',
                        data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
                        success: function (returnObj) {
                            // 呼叫藍新金流 API
                            const form = document.createElement('form');
                            form.method = 'post';
                            form.action = 'https://ccore.newebpay.com/MPG/mpg_gateway';//藍新金流驗證網址(測試環境)

                            for (const key in returnObj) {
                                if (returnObj.hasOwnProperty(key)) {
                                    const hiddenField = document.createElement('input');
                                    hiddenField.type = 'hidden';
                                    hiddenField.name = key;
                                    hiddenField.value = returnObj[key];
                                    form.appendChild(hiddenField);
                                }
                            }
                            document.body.appendChild(form);
                            form.submit();
                        },
                        error: function (err) {
                            alert(err.status + " " + err.statusText + '\n' + err.responseText);
                        }
                    });
                }
            }
        });
        const vm = app.mount('#app');
    </script>
}
